@import '~src/_base.scss';

.wrapper {
  cursor: pointer;
  float: right;
  height: 35px;
  position: relative;
  width: 35px;

  &:hover {
    .iconLine {
      background-color: $clay;
    }
  }
}

.wrapperSelected {
  composes: wrapper;
  cursor: default;

  .iconLine {
    background-color: $clay;
  }
}

.iconLine {
  background-color: $dark-grey;
  height: 100%;
  float: left;
  margin-left: 5px;
  transition: background-color .2s ease-out;
  width: calc((100% - 15px) / 4);

  &:first-child {
    margin-left: 0;
  }
}
