@import '~src/_base.scss';

.wrapper {
  cursor: pointer;
  float: right;
  height: 35px;
  margin-left: 20px;
  position: relative;
  width: 35px;

  &:hover {
    .iconLine {
      background-color: $clay;
    }
  }
}

.wrapperSelected {
  composes: wrapper;
  cursor: default;

  .iconLine {
    background-color: $clay;
  }
}

.iconLine {
  background-color: $dark-grey;
  height: calc((100% - 10px) / 3);
  float: left;
  margin: 0 0 5px 5px;
  transition: background-color .2s ease-out;
  width: calc((100% - 10px) / 3);

  &:first-child,
  &:nth-child(4),
  &:nth-child(7) {
    margin-left: 0;
  }
}
