.wrapper {
  float: left;
  margin-bottom: 20px;
  padding: 0 5px;
  position: relative;
  text-align: left;
  width: 100%;
}

.title {
  font-family: 'NeueHaasUnicaPro-Heavy';
  font-size: 2rem;
  margin-bottom: 10px;
}

.optionsWrapper {
  float: left;
  width: 100%;
  position: relative;
}
