@import '~src/_base.scss';

.wrapper {
  cursor: pointer;
  height: 35px;
  margin: -48px 0 0 5px;
  position: absolute;
  width: 35px;

  &:hover {
    svg {
      path {
        fill: $clay;
      }
    }
  }

  svg {
    height: 28px;
    left: 0;
    margin-left: 10%;
    position: absolute;
    width: 80%;

    path {
      transition: fill .2s ease-out;
    }
  }
}
