$light-grey: #ededed;
$medium-grey: #444;
$clay: #b95e4e;
$dark-grey: #333;
$dark-grey-gradient: linear-gradient(135deg, #333333 0%,#444444 100%);
$dark-grey-gradient-reversed: linear-gradient(135deg, #444444 0%, #333333 100%);
$medium-opacity-black: rgba(0, 0, 0, .2);
$off-white: #faebd7;
