@font-face {
  font-family: 'NeueHaasUnicaPro-Regular';
  src: url('2DF33B_C_0.eot');
  src: url('2DF33B_C_0.eot?#iefix') format('embedded-opentype'),
       url('2DF33B_C_0.woff2') format('woff2'),
       url('2DF33B_C_0.woff') format('woff'),
       url('2DF33B_C_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasUnicaPro-Heavy';
  src: url('2DF33B_5_0.eot');
  src: url('2DF33B_5_0.eot?#iefix') format('embedded-opentype'),
       url('2DF33B_5_0.woff2') format('woff2'),
       url('2DF33B_5_0.woff') format('woff'),
       url('2DF33B_5_0.ttf') format('truetype');
}
